@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Truculenta', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.background {
  background-color: rgb(37, 37, 37);
}

/* SERVICES SECTION */
@media (max-width: 768px) {
  /* SERVICES SECTION - IMAGES */
  .reverse-col {
    flex-direction: column-reverse;
  }
}
