@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Truculenta', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* MAIN BACKGROUND COLOUR */
.background {
  background-color: #2b2b2b;
}

/* NAVBAR SECTION */
button.btn-close {
  background-color: rgb(255, 255, 255);
}

.nav-link {
  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 5px;
  background-color: #ffb700;
  visibility: hidden;
  transition: 0.6s ease-in-out;
}

.nav-link:hover::before {
  width: 25%;
  visibility: visible;
}

/* TO HAVE THE NAVBAR ON TOP OF THE CAROUSEL */
.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* SERVICES SECTION */
@media (max-width: 768px) {
  /* SERVICES SECTION - IMAGES */
  .reverse-col {
    flex-direction: column-reverse;
    text-align: center;
  }
}
